.demo-drawer {
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    form {
      flex: 1;
    }
  }

  &__footer {
    display: flex;
    button {
      flex: 1;
    }
  }
}

.demo-drawer {
  .pos-refer-target-box {
    height: 200px;
    padding: 48px;
    overflow: hidden;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ebedf0;
    border-radius: 2px;
    box-sizing: border-box;
  }
}

// .el-drawer__body {
//   padding: 20px;
// }
